# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/
.tox/

# Virtual environments
.venv/
venv/
env/

# IDE files
.idea/
.vscode/
*.swp
*.bak
*.swo

# OS-specific files
.DS_Store
Thumbs.db
